/* 로그인, 회원가입 페이지 */
.login_header {
  text-align: center;
  padding-top: 80px;
}

.login_header p {
  padding-top: 20px;
}

.login_box {
width: 70%;
margin: auto;
padding: 80px;
}

.login_link,
.register_link {
color: #dc3545;
}

.login_logo:hover {
text-decoration: none;
}