/* 헤더, 푸터 및 공통 */

@import 'index.css';
@import 'login.css';
@import 'mypage.css';
@import 'review.css';
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: "Jua", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

/* 헤더영역 */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: black;
  z-index: 100;
}
/* 헤더 왼쪽 로고 글씨크기 */
.logo h1{
  font-size: 32px;
  margin: 0px;
  color: white;
}
/* 헤더 오른쪽 버튼 위치 */
.header_btn {
  display: flex;
  align-items: center;
  color: white;
}
.header_btn a {
  margin-right: 12px;
  color: white;
  font-size: 18px;
}

/* 푸터영역 */
footer {
  position: relative;
}

.jumbotron {
  height: 350px;
  background-color: black;
  padding: 50px;
  color: #999;
  margin-bottom: 0;
}
.footer_span {
  margin-right: 10px;
}
