/* 글씨체 */
* {
  font-family: "Cute Font", cursive;
  font-family: "Gaegu", cursive;
  font-family: "Gamja Flower", cursive;
  font-family: "Jua", sans-serif;
}
body {
  margin-top: 130px;
  height: 100vh;
  width: 100vw;
}
/* 헤더 기본 레이아웃 */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: rgb(255, 198, 133);
  z-index: 100;
}
/* 헤더 왼쪽 로고 글씨크기 */
.logo span {
  font-size: 50px;
}
/* 헤더 오른쪽 버튼 위치 */
.header_btn {
  display: flex;
  align-items: center;
}
.header_btn :first-child {
  margin-right: 30px;
}
/* 메인 컨텐츠 기본 레이아웃 */
.wrap {
  height: 100vh;
  width: 85vw;
  margin: auto;
}
/* 리스트 위치 및 스타일 초기화 */
ul {
  list-style: none;
  padding-left: 0;
}

/* 나의 관심 부트캠프 로고들 정렬 및 디자인 */
nav ul {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
nav ul li img {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.5;
}

/* 내가 쓴글 보여주는 곳, 나의 리뷰 리스트 */
.my_review {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.my_review_img img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}
.my_review_text {
  width: 100%;
  margin-left: 20px;
}

/* 페이지 버튼 중앙정렬 */
.pagination {
  width: fit-content;
  margin: 20px auto;
}

/* 플러스 모양 눌러서 새 글쓰기 부분 */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  right: 4%;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  background-color: rgb(247, 209, 166);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 5px;
}
/* on 과 footer의 포지션 관계 */
.on {
  position: absolute;
  bottom: 400px;
}
footer {
  position: relative;
}
.jumbotron {
  height: 350px;
  background-color: rgb(207, 158, 103);
}
.footer_span {
  margin-right: 10px;
}
