<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title> 리뷰사이트 페이지1 </title>
    <script src="./page1.js" charset="utf-8"></script>

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .title {
            font-size: 35px;
            font-weight: bold;
        }

        .logo {

        }
    </style>
</head>
<body>
<div>
    <div>
        <h1>
            리뷰 공유 사이트
        </h1>
    </div>

    <div>
        <button type="button" onclick="location.href='http://www.naver.com' ">홈</button>
        <button type="button" onclick="location.href='http://www.naver.com' ">로그인</button>
    </div>

    <div class="title">
        <p>리뷰 검색</p>
    </div>

    <div class=logo>
        <img src="../static/Logo_ALL.png" width=200 height=100>
        <img src="../static/Logo_hanghae.png" width=200 height=100>
        <img src="../static/Logo_codestates.png" width=200 height=100>
        <img src="../static/Logo_fastcamp.png" width=200 height=100>
        <img src="../static/Logo_seoul42.png" width=200 height=100>
    </div>


    <div class="title">
        <p>리뷰.
        <button type="button" onclick="location.href='http://www.naver.com' ">리뷰 쓰기</button>
        </p>
    </div>
    <div style="font-size: 20px">
        <img src="../static/alt_img.jpg" width=160 height=80>
        <p>title</p>
        <p>summary, rating</p>
        <img src="../static/alt_img.jpg" width=160 height=80>
        <p>title</p>
        <p>summary, rating</p>
        <img src="../static/alt_img.jpg" width=160 height=80>
        <p>title</p>
        <p>summary, rating</p>


    </div>


</div>
</body>
</html>